@model Nahhas.Shared.Entities.Video

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
