@model IEnumerable<Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Video
            </th>
            <th>
                Views
            </th>
            <th>
                Likes
            </th>
            <th>
                Shares
            </th>
            <th>
                Downloads
            </th>
            <th>
                Category
            </th>
            <th>
                Added Date
            </th>
            <th>
                Last Modified
            </th>
            <th>
                Active
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => video.Title)
                </td>
                <td>
                    <img src="@video.CoverPath" style="width:64px;height:64px;object-fit:cover;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.ViewsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.LikesCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.SharesCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.DownloadsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.AdditionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.LastModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = video.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = video.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = video.Id })
                </td>
            </tr>
        }
    </tbody>
</table>